{% extends "base.html" %}
{% load i18n %}

{% block main %}
<form method="post" action=".">
  {% csrf_token %}
	{% if form.errors %}
	<div class="alert alert-error">
	    <ul>
	        {% for error in form.non_field_errors %}
	            <li>{{ error }}</li>
	        {% endfor %}
	    </ul>
	</div>
	{% endif %}
	{% for field in form %}
		{% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
	    <div class="form-group">
			{{ field.label_tag }}{{ field }}
	    </div>
	{% endfor %}
        <input class="btn btn-primary btn-large" type="submit" value="Submit"/>
</form>
{%endblock%}